<@cTpl>
<@cSection>
    <@cContainer>
       ${( page_content_col1!'' )?no_esc}
    </@cContainer>
</@cSection>
<@cSection>
    <@cContainer>
        <@cRow>
            <@cCol>
                ${( page_content_col2!'' )?no_esc}
            </@cCol>
        </@cRow>
    </@cContainer>
</@cSection>
<@cSection>
    <@cContainer>
        <@cRow>
            <@cCol>
                ${( page_content_col3!'' )?no_esc}
            </@cCol>
        </@cRow>
    </@cContainer>
</@cSection>
<@cSection>
    <@cContainer>
        <@cRow>
            <@cCol>
                ${( page_content_col4!'' )?no_esc}
            </@cCol>
        </@cRow>
    </@cContainer>
</@cSection>
<@cSection>
    <@cContainer>
        <@cRow>
            <@cCol>
                ${( page_content_col5!'' )?no_esc}
            </@cCol>
        </@cRow>
    </@cContainer>
</@cSection>
<@cSection>
    <@cContainer>
        <@cRow>
            <@cCol>
                ${( page_content_col6!'' )?no_esc}
            </@cCol>
        </@cRow>
    </@cContainer>
</@cSection>
</@cTpl>
